{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech-to-Text Converter</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    
  </head>
  <body>
    <div class="container">
      <h1>Speech-to-Text Converter</h1>
      <div class="text-box">
        <textarea id="input-text" placeholder="Speak here..."></textarea>
      </div>
      <script src="{% static 'script.js' %}"></script>
      <button id="start-btn">Start Recording</button>
      <button id="stop-btn" disabled>Stop Recording</button>
      <div class="output-box">
        <h2>Transcribed Text:</h2>
        <p id="transcribed-text"></p>
      </div>
    </div>
  </body>
</html>
